# MONGODB

Show all functions that can be used with the database:

db.mydb.help();

Show all available databases

show dbs;
show databases;

use mydb;

Select a particular database to access, e.g. mydb.

This will create  mydb if it does not already exist:

Note: It will not show you databases until you insert document in database.

To check your currently selected database, use the command

db;

# Drop a existing database.

db.dropDatabase();

# Create collection

There are two ways to create collection 
1. Explicit Collection Creation

2. Implicit Collection Creation (Automatic)

1. Explicit Collection Creation

db.createCollection("employees")

2 . Implicit Collection Creation (Automatic)

Simply insert a document into a non-existent collection, and MongoDB will create it automatically:

db.people.insertOne({ name: "Alice", age: 30 })

# Drop collection

use mydb
db.people.drop()
show collections # it will not show collections

# Show All Collections

First select database as current database

show collections;

or

db.getCollectionNames()

# Insert Data

For inserting single document

db.people.insertOne({name: 'Tom', age: 28}); # people is collection name

Use insertMany to insert multiple records:

db.people.insertMany([{name: 'Tom', age: 28},
                      {name: 'John',age: 25}, 
                      {name: 'Kathy', age: 23}])

if we insert above command three times it will insert all records three times so to prevent this we can use unique index on any column

# Show all inserted document

db.people.find().pretty()

db.people.find()

# Show specific record

db.people.find({}, { name: 1, age: 1, _id: 0 })

db.people.find(...) â†’ This queries the people collection.

{} â†’ This empty filter means select all documents.
    
{ name: 1, age: 1, _id: 0 } â†’ This is the projection part, specifying which fields to include or exclude:

name: 1 â†’ Include the name field.

age: 1 â†’ Include the age field.

_id: 0 â†’ Exclude the _id field (MongoDB includes _id by default unless explicitly excluded).


It will return all documents from the people collection but only show the name and age fields while hiding _id.

This will show only the name and age fields while hiding the _id field.

db.people.find({}, { name: 1, age: 0, _id: 0 })
MongoServerError[Location31254]: Cannot do exclusion on field age in inclusion projection

if you run above code it will show an error in that you need to mention 
name: 1 â†’ Inclusion (include the name field).
age: 0 â†’ Exclusion (exclude the age field).
_id: 0 â†’ Exclusion (exclude the _id field, which is allowed).


Why is this an issue?
MongoDB requires projections to be either fully inclusive or fully exclusive (except for _id). In your case:

You included (name: 1).
You excluded (age: 0).
This is not allowed, leading to the error.

MongoServerError[Location31254]: Cannot do exclusion on field age in inclusion projection


How to Fix?

1. If you want to include specific fields, do not mix exclusion:

db.people.find({}, { name: 1, _id: 0 })

This will return only the name field (excluding _id).



2. If you want to exclude specific fields, do not mix inclusion:
db.people.find({}, { age: 0, _id: 0 })

This will return all fields except age and _id.

Exception: _id Field

db.people.find({}, { name: 1, _id: 0 })  // âœ… Works fine

MongoDB allows _id to be excluded even when using inclusion, so this is valid:

Summary
âŒ Mixing inclusion and exclusion (except _id) is not allowed.
âœ… Use either only inclusions or only exclusions, but not both together.

# Create a Unique Index

In MongoDB, you can prevent duplicate entries by creating a unique index on a field, such as name. Hereâ€™s how you can do it:

Run the following command to enforce uniqueness on the name field:


db.people.createIndex({ name: 1 }, { unique: true })

You might see below error if you have already duplicate values in your data which is why create unique index first than insert the data

MongoServerError[DuplicateKey]: Index build failed: 07609db9-8d8e-4f27-a4bc-b2ef7d7a5dac:

# Update Commands :

In [1]:
Basically we can Update the entire object:

# 1. Firstly Update a Single Document

In [ ]:
use mydb

db.people.update({name: 'Tom'}, {age: 29, name: 'Tom'})       #  When the updated version of this came, this command is no longer in use .


***New in MongoDB 3.2

db.people.updateOne({ name: "Tom" }, { $set: { age: 30 } })     # Here we Updated Tom's age from 28 to 29 means just update a single field of a document..

# 2. Update Multiple Document

In [ ]:

db.people.updateMany({}, { $inc: { age: 1 } })       # Increase everyone's age by 1:

You can also update multiple documents simultaneously by adding a third parameter. This query will update all
documents where the name equals Tom:
Example given below:

In [ ]:

db.people.update({name: 'Tom'}, {$set: {age: 29}}, {multi: true})

# 3. Replaced

If a document is needed to be replaced

In [ ]:

db.people.replaceOne({ name: "Tom" }, { name: "Lakmal", age: 25, city: "Sri Lanka" })   # Replace Tom's document entirely with new fields:

If a new field is coming for update, that field will be added to the document.

In [ ]:

db.people.updateMany({name: 'Tom'},{$set:{age: 30, salary:50000}})       # Document will have "salary"field as well.

# 4. Upsert (Update if exists, Insert if not)

Update the document (if not found, insert a new document):

In [ ]:

    db.people.updateOne({ name: "Kathy" }, { $set: { age: 24 } }, { upsert: true })  # Update Kathy's age from 23 to 24

db.people.updateOne({ name: "Mittali" }, { $set: { age: 27 } }, { upsert: true })  #Update Mittali's age to 27 (if not found, insert a new document)

# 5. Rename a Field

Rename "age" to "years_old" for all documents:

In [ ]:

db.people.updateMany({}, { $rename: { age: "years_old" } })

# 6. Add a New Field to All Documents

In [ ]:

db.people.updateMany({}, { $set: { gender: "Unknown" } })    # Add a gender field with value "Unknown" to all:

# 7. Remove a Field from All Documents

In [ ]:

db.people.updateMany({}, { $unset: { gender: "" } })       # Remove the gender field from all documents:

Note: Fields you use to identify the object will be saved in the updated document. Field that are not defined in the
update section will be removed from the document.

 # Delete Commands

Deletes all documents matching the query parameter:

1. Delete a Single Document

In [ ]:

db.people.deleteOne({ name: "Tom" })          #Deletes only the first matching document where name is "Tom"

2. Delete Multiple Documents

In [ ]:

db.people.deleteMany({  years_old: { $gt: 25 } })   # Deletes all documents where age > 25 ( "Make sure to use the renamed column, not the old one.")

3. Delete All Documents in Collection

In [ ]:

db.people.deleteMany({})      # db.people.deleteMany({})

4. Drop the Entire Collection

In [ ]:

db.people.drop()           #Deletes all documents and the collection itself:

5. Drop the Entire Database

In [ ]:

use mydb
db.dropDatabase()         #Deletes the entire mydb database (âš  Be careful!):

# Check if Data is Deleted


**Run this command to verify:
  db.people.find().pretty()

**If the collection is dropped, use:
  show collections

**If the database is dropped, switch to another database and check:
  show dbs


Note: If you are using Remove command then:

db.people.remove({name: 'Tom'}, true)
DeprecationWarning: Collection.remove() is deprecated. Use deleteOne, deleteMany, findOneAndDelete, or bulkWrite.
{ acknowledged: true, deletedCount: 0 }

# Read Commands

1. Read All Documents


db.people.find()    #Retrieves all documents in the people collection:


db.people.find().pretty()    #Pretty format output:


** Difference between find and Pretty in Mongodb
In MongoDB,by default, the find() command returns results in a compact JSON format, which can be difficult to read. 
Using the .pretty() method formats the output to make it more readable and structured.

2. Read Specific Fields


--Query for all the docs in the people collection that have a name field with a value of 'Tom':
Command -  db.people.find({name: 'Tom'})

--Or just the first one
Command - db.people.findOne({name: 'Tom'})    #Retrieve only the first document where name is "Tom".


 -- You can also specify which fields to return by passing a field selection parameter. The following will exclude the _id
 field and only include the age field

Command-  db.people.find({}, { name: 1, years_old: 1, _id: 0 }) # Retrieve only the name and years_old fields (excluding _id):
Output: will show all the records related to name and years_old from the collection

Command-  db.people.find({name: 'Tom'}, {_id: 0, age: 1})
Output- Here will show only Tom's related data 

Note: by default, the _id field will be returned, even if you don't ask for it. If you would like not to get the _id back,
 you can just follow the previous example and ask for the _id to be excluded by specifying _id: 0 (or _id: false).If
 you want to find sub record like address object contains country, city, etc.

 Command-  db.people.find({'address.country': 'US'})   #  & specify field too if required
 And if field not exist then you may need to update the required field first.

Command-  db.people.find({'address.country': 'US'}, {'name': true, 'address.city': true})     # Remember that the
 result has a '.pretty()' method that pretty-prints resulting JSON:
 db.people.find().pretty()


# 3. Filter by Condition

questions and answers


Ques.-Find people older than 25 (years_old > 25)
Command- db.people.find({ years_old: { $gt: 25 } })


Ques.- Find people younger than 26 (years_old < 26)
Command- db.people.find({ years_old: { $lt: 26 } })


Ques.-Find people aged 25 or 26 (years_old in [25, 26])
Command- db.people.find({ years_old: { $in: [25, 26] } })

# Search Using Logical Operators


Ques.- Find people aged between 25 and 27 (25 <= years_old <= 27)
Command- db.people.find({ years_old: { $gte: 25, $lte: 27 } })


Ques.- Find people who are either "Lakmal" or "Kathy"   
Command- db.people.find({ name: { $in: ["Lakmal", "Kathy"] } })

Ques.- Find people who are NOT from "Sri Lanka"
Command- db.people.find({ city: { $ne: "Sri Lanka" } })

# Some Scenarios based Questions:


Limit & Skip Results


Ques1- How we can get starting two document ?
Command: db.collection_name.find().limit(No.)
Ex- db.people.find().limit(2)


Ques2- How to skip 1st record from collection ?
Command: db.collection_name.find().skip(No.)
Ex- db.people.find().skip(1)


Ques3- How to skip 1st document after that getting 3 document ?
NOTE: Always give 1st priority to skip

Command: db.collection_name.find().limit(No.).skip(No.)  # Means Skipped the first record and showed the remaining three.
Ex- db.people.find().skip(1).limit(3)


Sorting Results


Ques4- How to get all document of salary based on descending order(salary)?

Note: First you need to check that there should be salary column in your collection if not then add this column(salary) first than
follow this command given below.

    Command- db.colname.find().sort({fieldname:'fieldvalue'})    #Sort- This function desides the 'Orders'
    Eg-      db.people.find().sort({salary:'desc'})              # Here Pass value in Json document



NOTE: In Case,If two employee having same salary in the given collection then we consider its 'IDs' 
      means whatever the ID  was added first will appear at the top, even if there are three records with the same salary."


Ques5- Sort the values after Salary,Acoording to Field (name or id).
NOTE: Give 1st,2nd,3rd priority to the field

Command - db.collection_name.find()sort({fieldname:'fieldvalue',fieldname:'fieldvalue'})
Eg -      db.people.find().sort({salary:'desc',name:'asc'})  # Here (salary:'desc' ) is a 1st prioprity & name:'asc' is second

NOTE: If 1st priority failed then need to give 2nd priority to the another field.
"If this also fails, the output will follow the order in which the data was inserted; otherwise, we will do Sorting on the ID column."


Ques.6- Another way to write desc order.
Command- db.people.find().sort({salary:-1})    #-1 indicates descending


Ques.7- Another way to write Asc order.
Command- db.people.find().sort({salary:1})    #1 indicates ascending


Count Documents


Ques- Count all people in the collection
Command- db.people.countDocuments()


Ques- Count people older than 25
Command- db.people.countDocuments({ years_old: { $gt: 25 } })


Check If a Field Exists


Ques-Find documents where city field exists
Command- db.people.find({ city: { $exists: true } })


Ques-Find documents where city is missing
Command- db.people.find({ city: { $exists: false } })


Use Regular Expressions for Search


Ques- Find names starting with "L"
Command- db.people.find({ name: /^L/ })

Ques- Find names ending with "y"
Command-db.people.find({ name: /y$/ })

Ques- Find names containing "a"
Command-db.people.find({ name: /a/ })


Aggregate Queries (Advanced)

Ques- Find the average age of people

Command- db.people.aggregate([
  { $group: { _id: null, avgAge: { $avg: "$years_old" } } }
])

Ques-Count people per age group
Command- db.people.aggregate([
  { $group: { _id: "$years_old", count: { $sum: 1 } } }
])

âœ… Summary of Read Commands
Command	Purpose
find()	            Get all documents
findOne()	        Get a single document
find({filter})	    Get filtered data
find({}, {fields})	Retrieve specific fields
sort({field: 1})	Sort ascending
sort({field: -1})	Sort descending
limit(n)	        Limit results
skip(n)	            Skip results
countDocuments()	Count records
aggregate([...])	Advanced queries

1ï¸âƒ£ Comparison Operators/ Query Operators
Used to compare values in documents.

Operator	                             Description	                                       Example
$eq	                               Matches values equal to a specified value	               { years_old: { $eq: 25 } }
$ne	                               Matches values not equal to a specified value	           { years_old: { $ne: 25 } }
$gt	                               Matches values greater than a specified value	           { years_old: { $gt: 25 } }
$gte	                           Matches values greater than or equal to a specified value   { years_old: { $gte: 25 } }
$lt                                Matches values less than a specified value	               { years_old: { $lt: 25 } }
$lte	                           Matches values less than or equal to a specified value	   { years_old: { $lte: 25 } }
$in	                               Matches any value in an array	                           { name: { $in: ["John", "Kathy"] } }
$nin                               Matches values not in an array	                           { name: { $nin: ["John", "Kathy"] } }

Noted: These all Query Operators will written in JSON Format and it will written with $ sign 
       Direct Operatiom cannot be allowed

# What is Criteria and Projection ?

MongoDB queries consist of two main parts:

1ï¸âƒ£Projection (Filter Condition) :-Selection of Specific columns/fields is known as a Projection
2ï¸âƒ£Criteria (Filter Condition) :- Means Filter Rows/documents


Command- db.people.find({},{})      # ({},{}) It's mean (all)
Here 1st curly braces {} means Criteria and 2nd curly braces {} means Projection

** All document will pass in JSON Format in Mongodb


1ï¸âƒ£ Criteria (Filter Condition)
A criteria (also called a filter condition) is used to specify which documents should be retrieved, updated, or deleted.
MongoDB provides various query operators (like $eq, $gt, $in, $regex, etc.) to define conditions.

Eg=   select name,salary from people where salary>20000;  # Here (where salary>20000) is a Criteria

Ques- Find people older than 25:
Command - db.people.find({ age: { $gt: 25 } })    



2ï¸âƒ£ Projection (Fields to Display)
Projection is used to control which fields are returned in the output.

By default, find() returns all fields in the matching documents.
To limit fields, use projection (1 to include, 0 to exclude).

Eg= select column_name (name,salary) from people where salary>20000  # Here (name and salary )are a projection
Ques- Find all people but show only name and age (exclude _id):
Command- db.people.find({}, { name: 1, age: 1, _id: 0 })

ðŸ“Œ Note: _id is included by default. Use { _id: 0 } to exclude it.

# Projection with Criteria

You can combine criteria and projection in a single query.


Some Question based on it:

Ques1- Find people older than 26 and show only name (exclude _id and age):
Command- db.people.find({ age: { $gt: 26 }}, { name: 1, _id: 0 })


Ques2- Find people in "New York" but show only age (exclude _id and name):
Command- db.people.find({ city: "New York" }, { age: 1, _id: 0 })

# Projection with Exclusion (0)

Instead of including specific fields (1), you can exclude certain fields (0).


Some Question based on it:

Ques- Find all people but exclude salary and _id:
Command- db.people.find({}, {salary: 0, _id: 0 })

ðŸ“Œ Note: You cannot mix 1 (include) and 0 (exclude) in the same projection, except for _id.

# Projection with Array Fields ($slice)

If a field contains an array, you can limit the number of elements returned.

Example Collection with an Array (tags field):
[
  { "name": "John", "tags": ["mongodb", "database", "nosql"] },
  { "name": "Kathy", "tags": ["frontend", "javascript", "react"] }
]


Ques-1 Retrieve only the first 2 elements of tags:
Command- db.people.find({}, { name: 1, tags: { $slice: 2 }, _id: 0 })

Summary: Criteria vs. Projection

Feature	                                 Criteria (Filter Condition)	         Projection (Fields to Display)
Purpose	                                 Filters documents	                     Controls which fields are shown
Operators Used                         	 $gt, $lt, $eq, $in, $regex, etc.	     1 (include) and 0 (exclude)
Example	                                 { age: { $gt: 25 } }	                 { name: 1, _id: 0 }
Can be Used Together?	                 âœ… Yes                                	âœ… Yes

Final Example: Criteria + Projection

Ques- Find people older than 25, show only name and city (exclude _id)

Command- db.people.find({ age: { $gt: 25 } }, { name: 1, city: 1, _id: 0 })

# Conclusion

1.Criteria (find({ filter })) filters the documents based on conditions.
2.Projection (find({ filter }, { fields })) controls which fields to display.
3.You can use both together to efficiently query and retrieve only required data.